body{
    text-align: center;
}
.container{
    display:flex;
    justify-content: center;
}
#content{
    text-align: center;
    border: 2px solid black;
    height:300px;
    width: 300px;
    background-color: orange;
}
#content_header{
    font-size: 2em;
}
button{
    padding: 10px 15px;
    border-radius: 5px;
}
input,label{
    font-size: 2em;
}